<h1>อัพโหลดหลักฐานการโอนเงิน</h1>
<strong>กรุณาอัพโหลดภาพหลักฐานการโอนเงินที่ชัดและสามารถอ่านได้ เพื่อให้การตรวจสอบเป็นไปอย่างราบรื่น</strong><br>
<h4>
<strong>รายละเอียดสำหรับการโอนเงิน</strong>
  <ul>
    <li>ชื่อบัญชี น.ส. ปิยาภา ดิสนีเวทย์</li>
    <li>ธนาคารกสิกรไทย สาขาโรงพยาบาลจุฬาลงกรณ์</li>
    <li>เลขที่บัญชี 090-8-24311-0</li>
  </ul>
</h4>
<table mat-table class="table table-responsive">
  <tr>
    <th>ลำดับ</th>
    <th>อาจารย์ที่ปรึกษา</th>
    <th>รายชื่อนักเรียน</th>
    <th>จำนวนเงิน</th>
    <th>เลือกรูป</th>
    <th>รูป</th>
  </tr>
  <tr *ngFor="let team of teams | async as _teams; index as i">
    <td>{{i + 1}}</td>
    <td>{{team.teacher | fullname}}</td>
    <td>{{team.student1 | fullname}}
      <br>{{team.student2 | fullname}}</td>
    <td>{{ team.student1.medTalkCome && team.student2.medTalkCome ? '600 บาท' : ((team.student1.medTalkCome ? !team.student2.medTalkCome : team.student2.medTalkCome) ? '700 บาท' : '500 บาท')}}</td>
    <td>
      <input type="file" class="form-control" accept="image/*" #uploadFile (change)="selectedFile(uploadFile, team.$key, true)">
      <input type="number" placeholder="เลขบัญชี 4 ตัวสุดท้าย" [(ngModel)]="team.accountNumberDigits">
      <input type="text" placeholder="เวลาที่โอน เช่น 17:30" [(ngModel)]="team.transferTime">
      <br/>
      <a class="alert-link" (click)="editTransferDetails(team.$key, true, team.accountNumberDigits, team.transferTime)">บันทึก</a>
    </td>
    <td>
      <img [src]="team.slipUrl | pictureOrPlaceholder" class="img-responsive" class="fix-size">
    </td>
  </tr>
  <tr *ngFor="let person of individuals | async as _individuals; index as i">
    <td>*MEDTalk เท่านั้น*</td>
    <td></td>
    <td>{{ person | fullname }}</td>
    <td>200 บาท</td>
    <td>
      <input type="file" class="form-control" accept="image/*" #uploadFile (change)="selectedFile(uploadFile, person.$key, false)">
      <input type="number" placeholder="เลขบัญชี 4 หลักสุดท้าย" [(ngModel)]="person.accountNumberDigits">
      <input type="text" placeholder="เวลาที่โอน เช่น 17:30" [(ngModel)]="person.transferTime">
      <br/>
      <a class="alert-link" (click)="editTransferDetails(person.$key, false, person.accountNumberDigits, person.transferTime)">บันทึก</a>
    </td>
    <td>
      <img [src]="person.slipUrl | pictureOrPlaceholder" class="img-responsive" class="fix-size">
    </td>
  </tr>
</table>
