<h1>กติกาและข้อตกลงในการแข่งขัน</h1>
<h2>เกณฑ์ในการรับสมัคร</h2>
<ol>
  <li>ผู้สมัครต้องกำลังศึกษาอยู่ในระดับชั้นมัธยมศึกษาตอนปลาย</li>
  <li>สมัครเข้าแข่งขันในรูปแบบทีม ทีมหนึ่งประกอบด้วยผู้สมัคร 2 คน โดยแต่ละทีมจะต้องมีอาจารย์ที่ปรึกษาประจำทีม 1 ท่าน</li>
  <li>อาจารย์ 1 ท่าน สามารถเป็นอาจารย์ที่ปรึกษาประจำทีมได้มากกว่า 1 ทีมจากโรงเรียนเดียวกัน</li>
  <li>ผู้สมัครจะต้องดำเนินการสมัครผ่าน <a [routerLink]="['/']">Website ของงานตอบปัญหาฯ</a> <strong>ภายในวันและเวลาที่กำหนดเท่านั้น</strong></li>
  <li>ผู้สมัครจะต้องไม่เคยเป็นผู้แทนประเทศไทยในการแข่งขันชีววิทยาโอลิมปิกระหว่างประเทศ (International Biology Olympiad: IBO)</li>
</ol>
<strong>หมายเหตุ</strong> จำนวนคนรับสมัครสูงสุดเพียง 1000 คน (500 ทีม) เท่านั้น
<h2>การรับสมัคร</h2>
<ol>
  <li>กำหนดให้ผู้สมัคร 1 คน เป็นตัวแทนของทีม เพื่อทำการสมัครผ่านทาง Website ของงานตอบปัญหาฯ โดยใช้ Email address ที่ติดต่อได้สะดวกในการสมัคร</li>
  <li>
    กำหนดการในการรับสมัคร
    <ul>
      <li>ระยะเวลาในการสมัครทางเว็บไซต์ : ภายในวันที่ 21 พฤษภาคม - 9 มิถุนายน 2561 เวลา 23:59 น.</li>
      <li>ระยะเวลาในการชำระค่าสมัคร และ Upload หลักฐานการชำระค่าสมัคร : ภายในวันที่ 21 พฤษภาคม - 14 มิถุนายน 2561 เวลา 23:59 น.</li>
      <li>ระยะเวลาในการแก้ไขข้อมูลที่ได้ลงทะเบียนไว้แล้ว : ภายในวันที่ 21 พฤษภาคม - 14 มิถุนายน 2561 เวลา 23:59 น.</li>
      <li><strong>หากทำการสมัครและ/หรือ ชำระค่าสมัครล่าช้ากว่ากำหนด จะไม่มีสิทธิแข่งขัน ไม่ว่ากรณีใด ๆ</strong></li>
    </ul>
  </li>
  <li>
    ขั้นตอนในการสมัคร
    <ol>
      <li>สร้างบัญชีผู้ใช้ (Account) ด้วย Email address ที่ติดต่อได้สะดวก และรหัสผ่าน (Password) ในกรณีที่ผู้สมัครลืม Email address และ Password ทางคณะกรรมการจัดการแข่งขัน จะไม่รับผิดชอบ ไม่ว่ากรณีใด ๆ</li>
      <li>ใช้ Username และ Password ดังกล่าวเข้าสู่ระบบรับสมัคร ผ่านทาง Website ของงานตอบปัญหา</li>
      <li>ให้ผู้สมัครกรอกข้อมูลให้ครบถ้วน จากนั้น ทำการ Upload รูปถ่ายชุดนักเรียนขนาด 1 นิ้ว และสำเนาบัตรประชาชน (หรือบัตรที่มีรูปถ่ายตนเองที่ทางราชการออกให้) พร้อมเซ็นสำเนาถูกต้อง ของผู้สมัครแต่ละคน ในแต่ละทีม แล้วทำการยืนยันการสมัคร</li>
      <li>ให้ผู้สมัครชำระค่าสมัคร ภายในเวลาที่กำหนด</li>
      <li>ให้ผู้สมัครทำการเข้าสู่ระบบด้วย Account ของผู้สมัครในข้อ 3.1 ผ่าน Website ของงานตอบปัญหาฯ แล้วทำการ Upload หลักฐานการชำระค่าสมัครทั้งหมด ลง Website ของงานตอบปัญหาฯ และรอจนคณะกรรมการฯ ตรวจสอบหลักฐานเรียนร้อย <strong>จึงจะถือว่าสถานะการสมัครเสร็จสมบูรณ์</strong></li>
      <li><strong>พิมพ์ใบสมัครจาก Website ของงานตอบปัญหาฯ เป็นบัตรประจำตัวผู้เข้าสอบ</strong></li>
    </ol>
  </li>
  <li>ชำระเงินค่าสมัครทีมละ 400 บาท สำหรับทีมที่เลือกสมัครสอบเพียงอย่างเดียว หรือ 500 บาท สำหรับทีมที่เลือกสมัครสอบและเข้าฟัง MEDTalk โดยโอนเงินผ่านทางธนาคารกสิกรไทย สาขาสยามพารากอน ชื่อบัญชี <strong>"นายปวริส วิภาสวัชรโยธิน"</strong> เลขที่บัญชี <strong>039-8-86084-5</strong></li>
  <li>ทั้งนี้ขอความกรุณาให้ผู้สมัครแต่ละทีมตรวจสอบความถูกต้องของข้อมูล ภายในเวลาที่กำหนด ในกรณีที่ข้อมูลไม่ถูกต้อง ให้ผู้สมัครเข้าสู่ระบบด้วย Account ในข้อ 3.1 เพื่อทำการแก้ไขข้อมูล</li>
  <li>ทางคณะกรรมการจัดการแข่งขัน จะประกาศรายชื่อผู้มีสิทธิ์เข้าแข่งขันทาง Facebook page ของงาน และ Website ของงานตอบปัญหาในวันที่ 23 มิถุนายน 2561 <strong>และจะไม่อนุญาตให้ผู้ที่ไม่มีรายชื่อ เข้าแข่งขันเป็นอันขาด</strong></li>
</ol>
<h2>กติกาการแข่งขัน</h2>
<ul>
  <li>
    Pre-elimination Round
    <p>ใช้ข้อสอบปรนัย 5 ตัวเลือกรวม 110 ข้อ เพื่อคัดเลือก 56 ทีมที่มีคะแนนสูงที่สุด</p>
  </li>
  <li>
    Elimination Round
    <p>ทั้ง 56 ทีมจะถูกแบ่งเป็น 7 สายการแข่งขัน สายการแข่งขันละ 8 ทีม ซึ่งแต่ละทีมในสายการแข่งขันจะแข่งกันกดสัญญาณไฟเพื่อตอบคำถามเก็บคะแนน โดยจะมีคำถามให้แต่ละสายการแข่งขันสายละ 10 ข้อ สามทีมใดได้คะแนนมากที่สุดจะได้ผ่านเข้ารอบต่อไป</p>
  </li>
  <li>
    Semifinal Round
    <p>ทีมที่ผ่านเข้ารอบจะถูกแบ่งออกเป็น 4 สายการแข่งขัน ซึ่งแต่ละทีมในสายการแข่งขันจะแข่งกันกดสัญญาณไฟเพื่อตอบคำถาม โดยคะแนนสูงสุดสำหรับคำถามแต่ละข้อคือ 2 คะแนน สองทีมใดได้ 2 คะแนนก่อนจะได้ผ่านเข้าสู่รอบต่อไป</p>
  </li>
  <li>
    Final Round
    <p>ทีมที่ผ่านเข้ารอบจะต้องแข่งขันพร้อมกัน 5 เกมเพื่อเก็บคะแนนเต็มรวม 500 คะแนน ซึ่งจะประกอบไปด้วยเกมคุณสมบัติ 1 ข้อ เกมจิ๊กซอว์ 1 ข้อ และเกมสุดยอดคำถาม 3 ข้อ</p>
  </li>
</ul>
<h2>กำหนดการแข่งขัน</h2>
<h3>วันเสาร์ที่ 30 มิถุนายน 2561</h3>
<p>08.00 - 08.30 น. เริ่มลงทะเบียน</p>
<p>09.00 - 11.00 น. สอบแข่งขันรอบ Pre-elimination Round</p>
<p>11.00 - 11.30 น. ลงทะเบียนงาน MEDTalk</p>
<p>12.00 - 13.30 น. งาน MEDTalk</p>
<h3>วันอาทิตย์ที่ 1 กรกฎาคม 2561</h3>
<p>08.00 - 08.30 น. ลงทะเบียนกับพี่ประจำกลุ่ม</p>
<p>08.30 - 08.45 น. พิธีเปิด</p>
<p>08.45 - 12.00 น. สอบแข่งขันรอบ Elimination Round</p>
<p>12.30 - 14.30 น. สอบแข่งขันรอบ Semifinal Round</p>
<p>14.30 - 15.30 น. สอบแข่งขันรอบ Final Round</p>
<p>15.30 - 16.00 น. พิธีปิดและมอบรางวัล</p>
<div class="alert alert-success" *ngIf="isAccepted | async;else notAccepted">
  <i class="fa fa-check-square-o" aria-hidden="true"></i> ยินดีด้วย คุณได้รับทราบและยอมรับข้อตกลงและกติกาแล้ว <a [routerLink]="['/dashboard', 'step3']"
    class="alert-link">ดำเนินการต่อ <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
</div>
<ng-template #notAccepted>
  <div class="text-center">
    <button class="btn btn-primary btn-lg" (click)="accept()">รับทราบและยอมรับข้อตกลงและกติกา</button>
  </div>
</ng-template>
