<div>
  <h1>วิธีการสมัคร</h1>
  <h3>การสมัครเข้าร่วมแข่งประกอบด้วยขั้นตอนต่าง ๆ ดังนี้</h3>
  <ol>
    <li>ยืนยันอีเมลของผู้สมัคร</li>
    <li>ยืนยันว่ารับทราบและยอมรับข้อตกลงเกี่ยวกับการแข่งขัน</li>
    <li>กรอกข้อมูลโรงเรียน</li>
    <li>กรอกข้อมูลผู้สมัครแต่ละทีม</li>
    <li>ชำระค่าสมัครแต่ละทีมแยกกัน และอัพโหลดหลักฐานการชำระเงิน</li>
    <li>ตรวจสอบสถานะการสมัคร</li>
    <li>พิมพ์ใบสมัคร</li>
  </ol>
  <div class="alert alert-danger">
    <strong>ผู้สมัครต้องดำเนินการให้ครบทุกขั้นตอนตามลำดับ</strong>
    <br/>หากต้องการแก้ไขข้อมูล สามารถทำได้โดยเลือกเมนูทางด้านซ้าย
    <!-- <br/><br/><h4>ผู้ที่ต้องการลงทะเบียนเฉพาะงาน MEDTalk สามารถข้ามขั้นตอนเกี่ยวกับการแข่งขันทั้งหมดแล้วเริ่มกรอกข้อมูลเฉพาะส่วนของ MEDTalk ได้เลย (ปุ่มล่างสุดของเมนูด้านซ้าย)</h4> -->
  </div>
  <div class="alert alert-info">
    <strong>หากมีปัญหาหรือข้อสงสัยประการใด สามารถสอบถามได้ที่</strong>
    <a href="https://fb.me/anandayquiz" class="alert-link">
      <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook Page ของงานตอบปัญหาฯ</a>
  </div>
</div>

<h4 class="text-danger">ข้อมูลทั้งหมดจะถูกเก็บเป็นความลับ และจะถูกลบภายในสามเดือนหลังจากที่การแข่งขันรอบสุดท้ายสิ้นสุดลง</h4>

<div class="alert alert-success">
  <a [routerLink]="['/dashboard', 'step1']" class="alert-link">
    <i class="fa fa-arrow-right" aria-hidden="true"></i> เริ่มต้นการสมัคร</a>
</div>
