<h1>แสดงความจำนงเข้าฟัง MEDTalk</h1>
<strong>กิจกรรม MEDTalk จะจัดขึ้นในวันที่ 30 มิถุนายน 2562 เวลา 12.00 น.-13.30 น. หลังจากการสอบแข่งขันรอบ Pre-elimiation round ได้เสร็จสิ้นลงแล้ว</strong>
<p>หากท่านต้องการเข้าร่วมกิจกรรม MEDTalk คณะกรรมการฯ ขอคิดค่าสมัครเพิ่ม 100 บาท (จากเดิม 500 บาท)</p>
<table class="table table-responsive">
  <tr>
    <th>ลำดับ</th>
    <th>อาจารย์ที่ปรึกษา</th>
    <th>รายชื่อนักเรียน</th>
    <th>การเข้าร่วม</th>
    <th>สถานะ</th>
  </tr>
  <tr *ngFor="let team of teams | async as _teams; index as i">
    <td>{{i + 1}}</td>
    <td>{{team.teacher | fullname}}</td>
    <td>{{team.student1 | fullname}}
      <br>{{team.student2 | fullname}}</td>
    <td>
      <button class="btn btn-success" (click)="confirm(team.$key, true)" [disabled]="team.done">เข้าร่วม MEDTalk</button>
      <button class="btn btn-danger" (click)="confirm(team.$key, false)" [disabled]="team.done">ไม่เข้าร่วม MEDTalk</button>
    </td>
    <td>
      <p *ngIf="!team.medTalkConfirmed; else confirmed">ยังไม่ได้เลือก</p>
      <ng-template #confirmed>
        <p *ngIf="team.medTalkCome; else notCome">เข้าร่วม MEDTalk</p>
        <ng-template #notCome>
          <p>ไม่เข้าร่วม MEDTalk</p>
        </ng-template>
      </ng-template>
    </td>
  </tr>
</table>
<div class="alert alert-success" *ngIf="medtalkDone | async">
  <p>
    <i class="fa fa-check-square-o" aria-hidden="true"></i> ยินดีด้วย คุณได้แสดงความจำนงเข้าฟัง MEDTalk แล้ว</p>
  <ul>
    <li>ชำระค่าสมัคร
      <strong>โดยแต่ละทีมให้ชำระแยกกัน</strong>
    </li>
  </ul>
  หลังจากชำระเงิน
  <a [routerLink]="['/dashboard', 'step5']" class="alert-link">ดำเนินการต่อ
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </a>
</div>
