<nav class="navbar navbar-inverse adq-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#anan-navmenu" class="navbar-toggle collapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/']" class="navbar-brand">
        <span class="text-danger"><i class="fa fa-trophy" aria-hidden="true"></i> AMSci</span> 2019
      </a>
    </div>
    <div class="collapse navbar-collapse" id="anan-navmenu">
      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">หน้าแรก</a></li>
        <li><a href="/assets/Rules-AMSci.pdf">กติกาการแข่งขัน</a></li>
        <div *ngIf="authState | async; then signedIn; else notSignedIn"></div>
        <ng-template #signedIn>
          <li routerLinkActive="active"><a [routerLink]="['/dashboard']">สมัคร</a></li>
          <li><a (click)="signOut()">ออกจากระบบ</a></li>
        </ng-template>
        <ng-template #notSignedIn>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/', 'login']">เข้าสู่ระบบ</a></li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
<div class="adq-footer">
  <div class="container">
    <div class="row">
      <div class="footer-text">
        <span>Copyright 2019, IT Division, SMCU</span>
        <span class="pull-right">
          <!-- <span>Sponsored by:</span> -->
          <!-- <img src="/assets/Logo Siam Piwat Color.png" alt="" width="150" style="margin-right: 60px; margin-left: 10px"> -->
          <a href="https://fb.me/anandayquiz" class="h2"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>
  </div>
</div>
