<div class="container adq-content">
  <div class="row">
    <div class="col-md-7">
      <h1>สมัครเข้าร่วมการแข่งขัน...</h1>
      <p>โปรดสมัครบัญชืผู้ใช้ใหม่ หรือเข้าสู่ระบบ</p>
      <p class="text-danger">เปิดรับสมัครวันที่ 16 พ.ค. 2564</p>
      <p class="text-danger">ท่านสามารถใช้บัญชีผู้ใช้ในการแข่งขันปีที่แล้วได้</p>
      <p class="text-danger">หากท่านลืมรหัสผ่าน กรุณาติดต่อคณะกรรมการฯ ผ่าน Facebook page ของการแข่งขัน พร้อมทั้งแจ้ง Email address ที่ใช้</p>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            มีบัญชีผู้ใช้แล้ว? <small>เข้าสู่ระบบ</small>
          </div>
        </div>
        <div class="panel-body">
          <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" novalidate>
            <div class="form-group" [ngClass]="{'has-error': signInForm.get('email').invalid && signInForm.get('email').dirty, 'has-success': signInForm.get('email').valid && signInForm.get('email').dirty}">
              <label for="login-email" class="sr-only">Email</label>
              <input type="text" placeholder="Email" class="form-control" id="login-email" formControlName="email">
            </div>
            <div class="form-group" [ngClass]="{'has-error': signInForm.get('password').invalid && signInForm.get('password').dirty, 'has-success': signInForm.get('password').valid && signInForm.get('password').dirty}">
              <label for="login-password" class="sr-only">Password</label>
              <input type="password" placeholder="Password" class="form-control" id="login-password" formControlName="password">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary form-control" value="เข้าสู่ระบบ" [disabled]="signInForm.invalid">
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            ยังไม่มีบัญชีผู้ใช้? <small>สมัครเลย</small>
          </div>
        </div>
        <div class="panel-body">
          <div [ngClass]="['alert', 'alert-' + alertClass]" *ngIf="alertShow">{{ alertMessage }} <button type="button" class="close" aria-label="Close" (click)="closeAlert()"><span aria-hidden="true">&times;</span></button></div>
          <form [formGroup]="registrationForm" (ngSubmit)="register()" novalidate>
            <div class="form-group" [ngClass]="{'has-error': registrationForm.get('email').invalid && registrationForm.get('email').dirty, 'has-success': registrationForm.get('email').valid && registrationForm.get('email').dirty}">
              <label for="registration-email" class="sr-only">Email</label>
              <input type="text" placeholder="Email" class="form-control" id="registration-email" formControlName="email">
            </div>
            <div formGroupName="passwords">
              <div class="form-group" [ngClass]="{'has-error': (registrationForm.get('passwords').get('password').invalid && registrationForm.get('passwords').get('password').dirty) || (registrationForm.get('passwords').invalid && registrationForm.get('passwords').dirty), 'has-success': registrationForm.get('passwords').get('password').valid && registrationForm.get('passwords').get('password').dirty && registrationForm.get('passwords').valid}">
                <label for="registration-password" class="sr-only">Password (อย่างน้อย 8 ตัวอักษร)</label>
                <input type="password" placeholder="Password (อย่างน้อย 8 ตัวอักษร)" class="form-control" id="registration-password" formControlName="password">
              </div>
              <div class="form-group" [ngClass]="{'has-error': (registrationForm.get('passwords').get('passwordConfirmation').invalid && registrationForm.get('passwords').get('passwordConfirmation').dirty) || (registrationForm.get('passwords').invalid && registrationForm.get('passwords').dirty), 'has-success': registrationForm.get('passwords').get('passwordConfirmation').valid && registrationForm.get('passwords').get('passwordConfirmation').dirty && registrationForm.get('passwords').valid}">
                <label for="registration-password-confirm" class="sr-only">Password Confirmation</label>
                <input type="password" placeholder="Password Confirmation" class="form-control" id="registration-password-confirm" formControlName="passwordConfirmation">
              </div>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary form-control" value="สร้างบัญชีผู้ใช้" [disabled]="registrationForm.invalid">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
