.adq-cover {
  background-image: url('../../assets/bg-hero.jpg');
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 140px;
}

.adq-cover-text {
  text-shadow: 1px 0px 0px #f9f08e, 0px 1px 0px #f9f08e, -1px 0px 0px #f9f08e, 0px -1px 0px #f9f08e;
}

.adq-logo {
  background-image: url('../../assets/logo-anan-full.png');
  background-size: contain;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 50%;
}
