<div class="adq-cover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="row">
          <div class="adq-logo"></div>
        </div>
        <div class='transbox'>
          <div class="row adq-cover-text h3">
            การแข่งขันตอบปัญหาวิชาการชีววิทยาและวิทยาศาสตร์การแพทย์ เนื่องในงานสัปดาห์วันอานันทมหิดล ประจำปี 2562
          </div>
        </div>
        <div class="row">
          <!-- <a [routerLink]="['/login']" class="btn btn-info btn-lg">อยากสมัคร? คลิก</a> -->
        </div>
        <div class="row">
          <!-- <a href="/assets/Registration-AMSci.pdf" class="btn btn-warning btn-lg">ระเบียบการ</a> -->
          <a href="/assets/Rules-AMSci.pdf" class="btn btn-info btn-lg">กติกาการแข่งขัน</a>
          <!-- <a href="/assets/Schedule-AMSci.pdf" class="btn btn-danger btn-lg">กำหนดการ</a> -->
        </div>
        <div class="row">
          <a href="https://fb.me/anandayquiz" class="btn btn-primary btn-lg"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
div.transbox {
  margin-bottom: 30px;
  padding: 20px 10px;
  background-color: #ffffff;
  border: 0px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

</style>